name: pwlf ci

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install coverage==4.5.4
        python -m pip install flake8 pytest-cov pyDOE
        pip install pytest --upgrade
        pip install flake8 pytest
    - name: Install pwlf
      run: |
        python -m pip install . --no-cache-dir
    - name: Lint with flake8
      run: |
        flake8 pwlf
        pytest --version
    - name: Test with pytest
      run: |
        pytest --cov=pwlf -p no:warnings tests/tests.py
    # - name: Coveralls Finished
    #   run: |
    #     python -m pip install coveralls
    #     coveralls --finish
    #   env:
    #     GITHUB_TOKEN: ${{ secrets.github_token }}
    - name: Coveralls Upload
      uses: AndreMiras/coveralls-python-action@develop
